
@font-face {
    font-family:ftltlt ;
    src: url(ftltlt-webfont.woff);
}
.button {
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
}

.container{
    margin-top: 50px;
}

.padding{
    padding: 20px;
   text-decoration: none;
}

.container{
    justify-content:space-evenly;
    height: 250px;
}

.text{
font-size: 32px;
}

.black {
    background-color: black;
    color: white;
    border-color: white;
}

.purple {
    background-color: #9000ff;
    color: white;
    border-color: #9000ff;

}

.blue {
    background-color: #7272dd;
    color: white;
}

body {
    font-family: ftltlt;
    margin: 0;
}

nav {
    background-color: #7272dd;
    color: white;
    padding: 50px;


    ul{
        padding:0;

        list-style: none;
    }

    .horizontal-list {
        display: flex;
        margin: 0;
        flex-direction: row;
        gap:200px;
        margin-left: 200;

            
    }

    .horizontal-list2 {
        display: flex;
        padding: 0;
        list-style-type: none;
        margin: 0;
        justify-content: space-between;
        text-decoration: none;
        color: white;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .drop-down-content {
        display:none;
        position: absolute;
        padding-left:20;
        padding: 0px;
        width: fit-content;
        background-color:#7272dd;
        border-bottom-right-radius: 65px;
        a:hover{
         color: black;
        }
    }

    li:hover .drop-down-content{
        display: block;
    }

}

header {
    background-color: black;
    color: white;
}

img {
    width: 400px;
    padding: 50px;
}

.section2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: 700;
    font-size: 80px;
}

h2{
    font-weight: 700;
    font-size: 40px;
}

section {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    color: white;
}

header {
    width: 1920px;
    height: 420px;
    padding: 75px;
    background-color: black;
    p{
    color: white;
    }
}


footer {
    background-color: #9000ff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
